{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br><br>
        <h2 class="content">Welcome to <span style="color:#198b90"> FreeAI.space</span></h2>
        <br>
        <img src="{{url_for('static',filename='images/a.png')}}" alt="" width="="500" height="250" >
        <img src="{{url_for('static',filename='images/b.png')}}" alt="" width="="500" height="250" >
        <img src="{{url_for('static',filename='images/c.png')}}" alt="" width="="500" height="250" >
    </div>
{% endblock bodyblock %}